.ticketBlock-content{
    border: 2px solid #344c68;
    height: 80px;
    border-radius: 5px;    
    // box-sizing: border-box;
    // padding-bottom: 20px;
    margin-bottom: 20px;
}

.ticketBlock-content_header{
    height: 40%;
    width: 100%;
    color: #fff;
    background: #344c68;
    border-radius: 2px 2px 0 0;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    font-size: 1.3rem;
}

.ticketBlock-content_table{
    width: 100%;
    border: 0;
    height: 60%;
    border-collapse: collapse;
}

.ticketBlock-content_table tr {
    // border: 1px dotted green;
    height: 100%;
    // background: #fff;
    // text-align: center;
    // box-sizing: border-box;
    &:nth-child(even) {
        background: #f5f5f5;
    }
}