.resultBooked-content{
    // background-color: #f5f3e7;
    min-height: 500px;
    margin: 15px 10px 15px 15px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    // border: 1px dotted red;
}

.resultBooked-content_tickets{
    // display: flex;
    // justify-content: flex-start;
    // height: 70%;
    // border: 1px dotted blue;
}

.resultBooked-content_totalBlock{
    border: 1px solid #344c68;
    border-radius: 5px;
    
    // box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.resultBooked-content_totalBlock_header{
    height: 30px;
    border-radius: 2px 2px 0 0;
    background: #344c68;
    // border-radius: 10px 10px 0 0;
}

.resultBooked-content_totalBlock_btn{
    position: absolute;
    bottom: 20px;
    right: 140px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background: #77ca27;
    cursor: pointer;
    &:hover{
        background: #77ca27cc;
        transform: scale(1.03);
    }
    &:active{
        transform: scale(0.98);
    }
}