.resultBooked-content {
    // background-color: #f5f3e7;
    min-height: 500px;
    margin: 15px 10px 15px 15px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.resultBooked-content_tickets {}

.resultBooked-content_totalBlock {
    border: 1px solid #344c68;
    border-radius: 5px;
    width: 500px;
    height: 190px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.resultBooked-content_totalBlock_header {
    height: 30px;
    border-radius: 2px 2px 0 0;
    background: #344c68;
    // border-radius: 10px 10px 0 0;
}

.resultBooked-content_totalBlock_btn {
    position: absolute;
    // display: inline-block;
    bottom: 20px;
    right: 140px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    background: #77ca27;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: #77ca27cc;
        transform: scale(1.03);
    }

    &:active {
        transform: scale(0.98);
    }
}

.resultBooked-content_totalBlock_prices {
    position: relative;
    height: 100%;
}

.resultBooked-content_totalBlock_item {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    line-height: 0.5rem;
}

.resultBooked-content_totalBlock_total {
    color: #ff0000;
    font-size: 1.4rem;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    right: 20px;
}