.resultBooked-content {
position: relative;

// background-color: #f5f3e7;

    min-height: 500px;

margin: 15px 10px 15px 15px;

text-align: center;

border-radius: 20px;

}

.resultBooked-content_tickets {}

.resultBooked-content_totalBlock {
position: absolute;

bottom: 0;

left: 0;

width: 500px;

height: 190px;

border: 1px solid #344c68;

border-radius: 5px;

}

.resultBooked-content_totalBlock_header {
    height: 30px;

border-radius: 2px 2px 0 0;

background: #344c68;

// border-radius: 10px 10px 0 0;
}

.resultBooked-content_totalBlock_btn {
    position: absolute;

right: 140px;

// display: inline-block;
    bottom: 20px;

width: 200px;

height: 50px;

cursor: pointer;

text-decoration: none;

color: #fff;

border: 0;

border-radius: 5px;

background: #77ca27;

box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

font-size: 1.3rem;

font-weight: 600;

line-height: 50px;

&:hover {
transform: scale(1.03);

background: #77ca27cc;

}

    &:active {
        transform: scale(0.98);
    }
}

.resultBooked-content_totalBlock_prices {
    position: relative;

height: 100%;

}

.resultBooked-content_totalBlock_item {
    display: flex;

justify-content: space-between;

margin: 0 20px;

line-height: 0.5rem;

}

.resultBooked-content_totalBlock_total {
position: absolute;

right: 20px;

bottom: 20px;

display: flex;

justify-content: space-between;

color: #ff0000;

font-size: 1.4rem;

font-weight: 700;

}