.luggageChoose-content{
    position: relative;

    min-height: 500px;
    margin: 15px 10px 15px 15px;

    border-radius: 20px;
}

.luggageChoose-content_addBtn{
    margin-left: 30px;

    cursor: pointer;
    // text-align: start;

    color: #7FD3F7;
    border: 0;
    background: inherit;

    font-size: 1.3rem;
}